In [ ]:
import pandas as pd

#untuk dapat melihat seluruh kolom dan baris
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Read TransJakarta Transaction Data

source: https://www.kaggle.com/datasets/dikisahkan/transjakarta-transportation-transaction

In [ ]:
df= pd.read_csv("/content/drive/MyDrive/.../dfTransjakarta.csv")

In [ ]:
#check dimensi data
df.shape
#len(df)

In [ ]:
#tampilkan top 5 data
df.head(5)

In [ ]:
#tampilkan data secara random
df.sample(5)

#SORTING DATAFRAME

## sort_values()

In [ ]:
#urutkan berdasarkan salah satu kolom
df.sort_values('payCardBirthDate').head()

df.sort_values(by=['payCardBirthDate']).head()

In [ ]:
#urutkan berdasarkan salah satu kolom, descending
df.sort_values('payCardBirthDate', ascending=False).head()

In [ ]:
#sorting dengan mengabaikan index
df.sort_values(by='payCardBirthDate',ascending=False, ignore_index=True).head()

In [ ]:
#perintah sort_values default tidak mengganti data awal
df.head()

In [ ]:
#sorting dengan mengganti dataframe
df.sort_values('payCardBirthDate', inplace=True)
df.head()

In [ ]:
#sorting dengan banyak kolom
df.sort_values(by=['payCardBirthDate','payCardName']).head()

In [ ]:
#sorting dengan banyak kolom dengan urutan berbeda
df.sort_values(by=['payCardBirthDate','payCardName'],
               ascending=[True, False]).head()

In [ ]:
#menampilkan data kosong terlebih dahulu
df.sort_values('corridorID',na_position='first').head()

## sort_index()

In [ ]:
#mengurutkan nama kolom
df.sort_index(axis=1).head(5)

In [ ]:
#menyimpan hasil sorting ke dataframe baru
sorted_df = df.sort_values('payCardBirthDate')
sorted_df.head()

In [ ]:
#menampilkan data sesuai index awal
sorted_df.sort_index().head()

In [ ]:
#sort index pada multilevel dataframe
l = [[1,'A',99],[1,'B',102],[1,'C',105],[1,'D',97],[2,'A',19],[2,'B',14],[2,'C',10],[2,'D',17]]
df_multi = pd.DataFrame(l,columns = ['idx1','idx2','col1'])
df_multi.set_index(['idx1','idx2'],inplace=True)
df_multi

In [ ]:
 df_multi.sort_index(level='idx2', ascending=False)

# FILTERING DATAFRAME

In [ ]:
df.sort_index(inplace=True)
df.head()

## Filtering dengan posisi

In [ ]:
#menampilkan data berdasarkan index
df.loc[27]

In [ ]:
#menampilkan data berdasarkan index dan kolom
df.loc[27, 'payCardName']

In [ ]:
#mengganti kolom index
df_trans = df.set_index('transID')
df_trans.head()

In [ ]:
#menampilkan data berdasarkan index
df_trans.loc["DJWR385V2U57TO"]

In [ ]:
#filter 1 kolom
df_trans['payCardName'].head()

In [ ]:
#filter multiple kolom
df_trans[['payCardName','payCardID']].head()

In [ ]:
#iloc : filter 1 row
# df.iloc[5]
df.iloc[0, :] # tanda : melambangkan seluruh kolom/baris

In [ ]:
#iloc : Memilih Sel Berdasarkan Baris dan Kolom
df.iloc[0, 5]

In [ ]:
#iloc : Memilih sebagian Baris dan Kolom
df.iloc[3:9, 4:8]

In [ ]:
#iloc : Memilih index negatif
df.iloc[-1] #data terakhir

## Filtering dengan kondisi

In [ ]:
#filter dengan kondisi
print(len(df))
df_female = df[df['payCardSex']=='F']
# df_female = df[~(df['payCardSex']=='M')]
print(len(df_female))
df_female.head()

In [ ]:
#filter dengan banyak kondisi : dan
print(len(df))
df_female_dki = df[(df['payCardSex']=='F') & (df['payCardBank']=='dki')]
print(len(df_female_dki))
df_female_dki.head()

In [ ]:
#filter dengan banyak kondisi : atau
print(len(df))
df_filtered = df[(df['payCardBank']=='flazz') | (df['payCardBank']=='dki')]
print(len(df_filtered))
df_filtered.head()

In [ ]:
#filter dengan kondisi berada dalam list
print(len(df))
df_filtered = df[df['payCardBank'].isin(['dki','flazz'])]
print(len(df_filtered))
df_filtered.head()

## Filtering dengan query

In [ ]:
#filter dengan 1 kondisi
print(len(df))
df_filtered = df.query('payCardBirthDate > 2000')
print(len(df_filtered))
df_filtered.head()

In [ ]:
#filter dengan banyak kondisi
print(len(df))
df_filtered = df.query('payCardBirthDate > 2000 and payCardSex=="M"')
print(len(df_filtered))
df_filtered.head()

# ADD COLUMS

In [ ]:
#melakukan copy dataframe
df_add =df.copy()

In [ ]:
# Menambahkan kolom baru dengan nilai tetap
df_add['negara'] = 'Indonesia'
df_add.sample(5)

In [ ]:
#Menambahkan Kolom Berdasarkan Operasi pada Kolom Lain
df_add['payAmountDiscount'] = df_add['payAmount']*0.9
df_add.sample(5)

In [ ]:
#Menambahkan Kolom Berdasarkan Kondisi
df_add['ageCategory'] = ['Dewasa' if tahunLahir <= 2007 else 'Muda' for tahunLahir in df['payCardBirthDate']]
df_add.sample(5)