In [ ]:
import pandas as pd
import numpy as np

#untuk dapat melihat seluruh kolom dan baris
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# MERGE () DATAFRAME

In [ ]:
data1 = {
    'EmployeeID': ['E001', 'E002', 'E003', 'E004', 'E005'],
    'EmpName': ['John Doe', 'Jane Smith', 'Peter Brown', 'Tom Johnson', 'Rita Patel'],
    'DeptID': ['D001', 'D003', 'D001', 'D002', 'D006'],
    'Location' : ['Bandung','Jakarta','Semarang','Surabaya','Yogyakarta']
}
employees = pd.DataFrame(data1)

data2 = {
    'DeptID': ['D001', 'D002', 'D003', 'D007'],
    'DeptName': ['Sales', 'HR', 'Admin', 'Marketing'],
    'Location' : ['Bandung','Yogyakarta','Semarang','Yogyakarta']
}
departments = pd.DataFrame(data2)

In [ ]:
employees

In [ ]:
departments

## Inner Join

In [ ]:
#perintah default
#secara default akan menggunakan key kolom yang sama dari ke 2 dataframe
df3= pd.merge(employees,departments)
# df3= pd.merge(employees,departments, how ='inner')
df3

In [ ]:
#menggunakan nama kolom
df3=pd.merge(employees,departments, on='DeptID')
df3

In [ ]:
#jika nama kolom berbeda
employees = employees.rename(columns={'DeptID': 'EmpDeptID'})
print(employees)
df3=pd.merge(employees,departments, left_on='EmpDeptID', right_on='DeptID')
df3

In [ ]:
#jika menggunakan multiple column
df3=pd.merge(employees,departments, left_on=['EmpDeptID','Location'], right_on=['DeptID','Location'])
df3

In [ ]:
# merge menggunakan index
df3 = pd.merge(employees,departments,left_index=True,right_index=True)
df3

## Left Join

In [ ]:
df3=pd.merge(employees,departments, how ='left', left_on='EmpDeptID', right_on='DeptID')
df3

## Right Join

In [ ]:
df3=pd.merge(employees,departments, how ='right', left_on='EmpDeptID', right_on='DeptID')
df3

## Outer Join

In [ ]:
df3=pd.merge(employees,departments, how ='outer', left_on='EmpDeptID', right_on='DeptID')
df3

# JOIN () DATAFRAME

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                   index=['K0', 'K1', 'K2'])

df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                    'D': ['D0', 'D1', 'D2']},
                   index=['K0', 'K2', 'K3'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
#left join
result = df1.join(df2)
result

In [ ]:
#outer join
result_outer = df1.join(df2, how='outer')
result_outer

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'X': ['X0', 'X1', 'X2']},
                   index=['K0', 'K1', 'K2'])

df2 = pd.DataFrame({'B': ['B0', 'B1', 'B2'],
                    'X': ['Y0', 'Y1', 'Y2']},
                   index=['K0', 'K2', 'K3'])

#penggunaan suffix
result = df1.join(df2, lsuffix='_df1', rsuffix='_df2')
result

In [ ]:
# Membuat DataFrame df1
df1 = pd.DataFrame({
    'Key': ['K0', 'K1', 'K2', 'K3'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

# Membuat DataFrame df2 dengan index yang sesuai
df2 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=['K0', 'K1', 'K2', 'K3'])

#contoh penggunaan on
result = df1.join(df2, on='Key')
result

# CONCAT()

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
print("df1")
print(df1)

df2 = pd.DataFrame({'A': ['A2', 'A3'], 'B': ['B2', 'B3']})
print("df2")
print(df2)

#Vertikal Concatenation
result = pd.concat([df1, df2])
result

In [ ]:
df3 = pd.DataFrame({'C': ['C0', 'C1'], 'D': ['D0', 'D1']})
print("df3")
print(df3)

#Horisontal Concatenation
result = pd.concat([df1, df3], axis=1)
result

In [ ]:
#menggunakan ignore index
result = pd.concat([df1, df2], ignore_index=True)
result

In [ ]:
#Menggunakan keys untuk MultiIndex
result = pd.concat([df1, df2], keys=['df1', 'df2'])
result

In [ ]:
print("df1")
print(df1)

df4 = pd.DataFrame({'B': ['B2', 'B3'], 'C': ['C2', 'C3']}, index=[1, 3])
print("df4")
print(df4)

#Inner Join
result = pd.concat([df1, df4], axis=1, join='inner')
result

#APPEND()

In [ ]:
import pandas as pd

# Membuat DataFrame pertama
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

# Membuat DataFrame kedua
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Menggunakan append untuk menambahkan df2 ke df1
# result = df1.append(df2)
result = df1.append(df2, ignore_index=True)
result

In [ ]:
# Membuat DataFrame ketiga
df3 = pd.DataFrame({'A': [9, 10], 'B': [11, 12]})

# Menambahkan df2 dan df3 ke df1 secara bersamaan
result = df1.append([df2, df3])
result

# AGGREGATE

In [ ]:
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'Values': [10, 15, 10, 20]
})
df

In [ ]:
# Menghitung rata-rata dari kolom `Values`
df['Values'].agg('mean')
df['Values'].mean()

In [ ]:
# Menggunakan list untuk menerapkan beberapa fungsi agregasi
df['Values'].agg(['sum', 'mean'])

In [ ]:
# Menggunakan dictionary untuk menerapkan fungsi yang berbeda ke kolom yang berbeda
result = df.agg({'Values': ['sum', 'mean'], 'Category': 'count'})
result

#GROUP

In [ ]:
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Data': [4, 5, 6, 7, 8, 9, 10, 11]
})
df

In [ ]:
#Grouping Berdasarkan Satu Kolom
grouped = df.groupby('Category')
grouped.sum()

In [ ]:
#Grouping Berdasarkan Multiple Kolom
df['Subcategory'] = ['One', 'One', 'One', 'Two', 'Two', 'Three', 'Two', 'One']
grouped = df.groupby(['Category', 'Subcategory'])
grouped.sum()

In [ ]:
#Aggregasi
grouped['Data'].agg(["sum","mean","count","std"])

#PIVOT TABLE

In [ ]:
df = pd.DataFrame({
    'Category': ['Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
    'Item': ['Apple', 'Carrot', 'Banana', 'Broccoli', 'Orange'],
    'Sales': [100, 150, 200, 130, 120],
    'Quantity': [30, 45, 50, 40, 60]
})
df

In [ ]:
#simple pivot table
pivot_df = pd.pivot_table(df, values='Sales', index='Category', aggfunc='sum')
pivot_df

In [ ]:
#Pivot Table dengan Multiple Aggregations
pivot_df = pd.pivot_table(df, values='Sales', index='Category', aggfunc=['sum', 'mean'])
pivot_df

In [ ]:
#Menambahkan Kolom pada Pivot Table
pivot_df = pd.pivot_table(df, values='Sales', index='Category', columns='Item', aggfunc='sum', fill_value=0)
pivot_df

# LAMBDA FUNCTION

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 8]
})
df

## APPLY
Menggunakan apply() dengan Lambda
Metode apply() digunakan untuk menerapkan fungsi sepanjang sumbu DataFrame, baik pada baris maupun kolom.

In [ ]:
df['C'] = df['A'].apply(lambda x: x + 10)
df

In [ ]:
df['D'] = df.apply(lambda x:x.sum(), axis=1)
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

## APPLYMAP
Menggunakan applymap() dengan Lambda
Metode applymap() digunakan untuk menerapkan fungsi ke setiap elemen individu dalam DataFrame.

In [ ]:
df = df.applymap(lambda x: x * 2)
df

In [ ]:
df.applymap(lambda x: '%.2f' % x)